# temporary files
*~
*#*
*.bak
init.el
*.log
*.eld
projectile.cache
places

# library files
lib
lib-impl

# compilation artifacts
.yas-compiled-snippets.el
.cask/
*~
node_modules
eshell/
*.log
*.eld
projectile.cache
.yas-compiled*
