# temporary files
*~
*#*
*.bak
*.log
*.eld

# library files
lib
lib-impl
/predictive/

# compilation artifacts
.yas-compiled-snippets.el
.cask/
*~
node_modules
eshell/
*.log
*.eld
projectile.cache
.yas-compiled*
.mc-lists.el
projectile.cache
ac-comphist.dat
places
ido.last

# backup code
/backup/init.el
