[submodule "lib/jmax/criticmarkup-emacs"]
	path = lib/jmax/criticmarkup-emacs
	url = git@github.com:anshulverma/criticmarkup-emacs.git
[submodule "lib/jmax/org-ref"]
	path = lib/jmax/org-ref
	url = git@github.com:anshulverma/org-ref.git
[submodule "predictive"]
	path = lib/predictive
	url = http://www.dr-qubit.org/git/predictive.git
[submodule "snippets/AndreaCrotti"]
	path = snippets/AndreaCrotti
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
